.lead {
  font-family: "Inter", Arial, sans-serif;
  max-width: 984px;
  color: white;
  padding-top: 56px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    max-width: 928px;
  }
}
