.intro {
    padding-top: 92px;
    color: white;
    max-width: 984px;
    margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        width: 90.6%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro {
        width: 90%;
        padding-top: 64px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro {
        width: 94%;
        padding-top: 88px;
    }
}

