.place__link {
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  cursor: pointer;
  align-self: start;
}

.place__link:hover {
  opacity: 0.8;
}
